In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/fifa_data.csv')
data.drop(columns=['Unnamed: 0', 'ID', 'Photo', 'Flag', 'Club Logo'], axis='columns', inplace=True)
#pd.options.display.max_columns = 90 
data.sample(5)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
6670,Márcio Velinha,30,Brazil,68,68,Chapecoense,€575K,€5K,1121,Right,...,58.0,13.0,8.0,12.0,69.0,62.0,75.0,65.0,73.0,€1.1M
12917,Tang Shi,23,China PR,63,70,Guangzhou Evergrande Taobao FC,€525K,€3K,1642,Left,...,52.0,34.0,25.0,21.0,9.0,9.0,11.0,12.0,15.0,€1.3M
6878,Jiang Zhipeng,29,China PR,68,68,Hebei China Fortune FC,€675K,€6K,1868,Left,...,58.0,66.0,67.0,62.0,16.0,8.0,8.0,14.0,13.0,€1.5M
917,C. Grenier,27,France,77,78,Stade Rennais FC,€10M,€32K,2031,Right,...,78.0,60.0,59.0,49.0,14.0,11.0,10.0,11.0,6.0,€19.8M
15646,J. Falkmar,26,Sweden,59,60,IF Brommapojkarna,€150K,€1K,1493,Right,...,49.0,58.0,59.0,57.0,12.0,9.0,6.0,12.0,9.0,€199K

In [3]:
data.shape

(18207, 84)

## GROUPING & PLOTTING

In [4]:
team = data.groupby('Club')
len(team)

651

In [21]:
team.size().nlargest(5)

Club
AS Monaco            33
Arsenal              33
Atlético Madrid      33
Borussia Dortmund    33
Burnley              33
dtype: int64

In [5]:
arsenal = team.get_group('Arsenal')

arsenal.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
33,P. Aubameyang,29,Gabon,88,88,Arsenal,€59M,€265K,2069,Right,...,86.0,27.0,25.0,36.0,6.0,9.0,15.0,9.0,9.0,€112.1M
74,M. Özil,29,Germany,86,86,Arsenal,€43.5M,€190K,1911,Left,...,82.0,24.0,16.0,19.0,6.0,14.0,10.0,6.0,14.0,€82.7M
87,A. Lacazette,27,France,85,86,Arsenal,€45M,€180K,2060,Right,...,85.0,29.0,42.0,30.0,11.0,6.0,9.0,5.0,6.0,€88.9M
131,B. Leno,26,Germany,84,87,Arsenal,€27M,€115K,1278,Right,...,66.0,27.0,15.0,18.0,84.0,82.0,75.0,85.0,82.0,€53.3M
146,Sokratis,30,Greece,84,84,Arsenal,€23M,€140K,1797,Right,...,82.0,85.0,87.0,85.0,6.0,8.0,5.0,12.0,5.0,€43.7M

In [7]:
arsenal['Wage'] = arsenal['Wage'].str.replace('€','').str.replace('K','')

C:\MyPrograms\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.