In [10]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv('data/fifa_data.csv')
data.drop(columns=['Unnamed: 0', 'ID', 'Photo', 'Flag', 'Club Logo'], axis='columns', inplace=True)
#pd.options.display.max_columns = 90 
data.sample(5)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
10213,Zhang Lie,36,China PR,65,65,Beijing Renhe FC,€70K,€2K,1055,Right,...,58.0,20.0,16.0,19.0,64.0,65.0,65.0,65.0,62.0,€151K
9514,A. Jakobsen,24,Egypt,66,73,IFK Norrköping,€900K,€2K,1765,Right,...,65.0,45.0,46.0,42.0,11.0,7.0,14.0,11.0,11.0,€1.3M
924,M. Carcela-González,29,Morocco,77,77,Standard de Liège,€8.5M,€19K,1923,Left,...,84.0,26.0,38.0,30.0,8.0,15.0,14.0,7.0,12.0,€12.8M
14373,R. Wulle,24,Germany,61,68,SV Sandhausen,€260K,€1K,1004,Right,...,25.0,14.0,10.0,12.0,60.0,60.0,57.0,59.0,62.0,€468K
5970,P. Rodríguez,28,Argentina,69,69,Moreirense FC,€1.1M,€4K,1752,Right,...,63.0,16.0,31.0,29.0,14.0,7.0,12.0,8.0,11.0,€2.2M

In [12]:
data.shape

(18207, 84)

## GROUPING & PLOTTING

In [13]:
team = data.groupby('Club')
len(team)

651

In [21]:
team.size().nlargest(5)

Club
AS Monaco            33
Arsenal              33
Atlético Madrid      33
Borussia Dortmund    33
Burnley              33
dtype: int64

In [16]:
arsenal = team.get_group('Arsenal')

arsenal = pd.DataFrame(arsenal)

In [17]:
arsenal['Wage'] = arsenal['Wage'].str.replace('€','').str.replace('K','')

In [18]:
arsenal.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
33,P. Aubameyang,29,Gabon,88,88,Arsenal,€59M,265,2069,Right,...,86.0,27.0,25.0,36.0,6.0,9.0,15.0,9.0,9.0,€112.1M
74,M. Özil,29,Germany,86,86,Arsenal,€43.5M,190,1911,Left,...,82.0,24.0,16.0,19.0,6.0,14.0,10.0,6.0,14.0,€82.7M
87,A. Lacazette,27,France,85,86,Arsenal,€45M,180,2060,Right,...,85.0,29.0,42.0,30.0,11.0,6.0,9.0,5.0,6.0,€88.9M
131,B. Leno,26,Germany,84,87,Arsenal,€27M,115,1278,Right,...,66.0,27.0,15.0,18.0,84.0,82.0,75.0,85.0,82.0,€53.3M
146,Sokratis,30,Greece,84,84,Arsenal,€23M,140,1797,Right,...,82.0,85.0,87.0,85.0,6.0,8.0,5.0,12.0,5.0,€43.7M